<h3>Guesser</h3>
<p>Guess the secret number!</p>
<form>
  <input type="text" name="guess" autofocus>
  <input type="submit" name="Guess!">
</form>
<p> <%= message %> </p>
<p>The SECRET NUMBER is <%= number %></p>