<h3>Hangman</h3>
<p>Try and guess by letter or word!</p>
<form>
  <p>
    Your guess: 
    <input class="inputbox" type="text" name="hangman">
    <input type="submit" name="Hangman!">
  </p>
</form>
<br>
<p>Wrong guesses: <%= %> </p>
<br><br>
<p class="hangman"> <%= %> </p>
<br>
<p> <%= %> </p>