<div class="box">
  <h3>Welcome to Tabletop Sinatra!</h3>
  <h5>Try playing the following games:</h5>
  <p>
    <a class="blue" href="/guesser">Guesser: </a>
    A number guessing game.
  </p>
  <p>
    <a class="blue" href="/caesar">Caesar Cipher: </a>
    A message encryption cipher.
  </p>
  <p>
    <a class="blue" href="/hangman">Hangman: </a>
    A word guessing game.
  </p>
</div>
